/*****************************
GENERAL STYLING
*****************************/


body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	margin-top: 0;
	max-width: 1000px;
	min-width: 700px;
	
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
	min-width: 700px;
	background-color: #e6ffb3;
	opacity: .75;
	height: auto;
	margin-top: 0;
	padding-top: 1%;
}

header > h1 {
	font-family: 'Fjalla One', sans-serif;
	background-color: #993300;
	margin: 0;
	padding: 4%;
	text-shadow: .5px .5px grey;
}

header > h3 {
	background-color: #AD5229;
	margin: 0;
	padding: .75%;
	text-shadow: .5px .5px grey;
}


/*******************************
LIST STYLING
*******************************/


ul > li.block {
	display: inline-block;
	width: 15%;
	font size: 1em;
	list-style: none;
	text-decoration: none
}

.top {
	margin: 0;
	background-color: #B86124;
	padding: 2%;
	border-bottom: solid 3px black;
	padding-top: 3%
}


/********************************
SPAN STYLING
*******************************/


span.inline {
	display: block;
	border: solid 1px black;
	margin: 25px;
}


/*******************************
ARTICLE STYLING
*******************************/


article.n-child section:nth-of-type(even) {
	border: solid 1px black;
}


/**************************************
FOOTER
**************************************/


footer * {
	font-family: 'Fjalla One', sans-serif;
	background-color: #993300;
	padding: 3%;
	border-top: solid 3px black;
}


/***********************************
COLOR GRADIENT
***********************************/


body {
	background: linear-gradient(182deg, #a3422e, #b86124);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 11s ease infinite;
	-moz-animation: AnimationName 11s ease infinite;
	-o-animation: AnimationName 11s ease infinite;
	animation: AnimationName 11s ease infinite;
	@-webkit-keyframes AnimationName {
	    0%{background-position:47% 0%}
	    50%{background-position:54% 100%}
	    100%{background-position:47% 0%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:47% 0%}
	    50%{background-position:54% 100%}
	    100%{background-position:47% 0%}
	}
	@-o-keyframes AnimationName {
	    0%{background-position:47% 0%}
	    50%{background-position:54% 100%}
	    100%{background-position:47% 0%}
	}
	@keyframes AnimationName {
	    0%{background-position:47% 0%}
	    50%{background-position:54% 100%}
	    100%{background-position:47% 0%}
}